body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
h1,
h2{
    margin: 0 0 25px 0;
    font-size: 24px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #bfbfbf;
}
ul > li{
    list-style: none;
}
.wrapper{
    max-width: 960px;
    margin: 73px auto 97px;
}

.menu{
    margin: 0;
    padding: 0;
}
.display-flex{
    display: flex;
    justify-content: space-between;
}
.nav-menu {
    position: relative;
}
.navigation{
    margin-bottom: 40px;
    width: 100%;
    border-radius: 3px;
    overflow: hidden;
    background-color: #2a3644;
}
.food > li{
    border-left: 1px solid #3f4852;
    border-right: 1px solid #3f4852;
}
.food li:hover,
.technology li:hover,
.vilage-border li:hover{
    background-color: #3f4852;
}
.food li:hover > a,
.technology li:hover > a,
.vilage-border li:hover > a{
    color: #fd8612;
}
.vilage-border > li + li,
.technology > li + li{
    border-left: 1px solid #3f4852;
}
.display{
    width: 100%;
    display: table;
}
.menu li:hover > .sub-menu{
    display: block;
}
.food li > a,
.technology li > a,
.vilage-border li a{
    display: inline-block;
    padding: 18px 30px 16px;
    font-size: 16px;
    color: #ffffff;
    font-weight: bold;
}
.technology li a{
    padding: 18px 43px 16px;  
}
.technology > ul > li{
    border-left: 1px solid #3f4852;
}

.sub-menu{
    width: 211px;
    padding-top: 5px;
    position: absolute;
    display: none;
    border-radius: 3px;
    z-index: 2;
}
.sub-menu-second{
    padding-left: 5px;
    left: 100%;
    top: 53%;
}
.sub-menu-second::before{
    content: "";
    position: absolute;
    top: 0;
    left: -0;
    height: 100%;
    width: 5px;
    background-color: red;
}
.sub-menu-third{
    right:100%;
    top: 77%;
}
.sub-menu li{
    background-color: #d2d4d5;
}
.sub-menu li > a{
    font-size: 15px;
    font-weight: bold;
    display: block;
    color: #2a3644;
}
.sub-menu-second{
    color: #2a3644;
    
}
.sub-menu li + li{
    border-top: 1px solid #b9bdc1;
}
.sub-menu::before{
    content: "";
    position: absolute;
    top: -5px;
    left: 0;
    height: 5px;
    width: 100%;
    background-color: transparent;
}
.nashi-poslugi li:first-child{
    border-radius: 3px 0 0 0;
}
.nashi-poslugi li:nth-child(4){
    border-radius: 0 0 0 3px;
}
.nashi-poslugi li:nth-child(5){
    border-radius: 0 3px 0 0;
}
.nashi-poslugi li{
    border-bottom: 1px solid #b9bdc1;
    border-top: none;
}
.right0{
    right: 0px;
}
.sub-menu li:hover{
    background-color: #2a3644;
}
.sub-menu li:hover > a{
    color: #fd8612;
}

.sub-menu-radius ul > li:first-child{
    border-top-right-radius: 3px;
    border-top-left-radius: 3px ;
}
.sub-menu-radius ul > li:last-child{
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px ;
}

.socialki{
    padding: 18px 30px 16px;
    column-gap: 26px;
    align-items: center;
}

.socialki a{
    display: block;
    background: url(../images/sprites.png) no-repeat;
    transition: all 0.834s ease-out;
}
a.facebook{
    width: 9px;
    height: 18px;
    background-position: -27px -2px;
}
a.twiter{
    width: 16px;
    height: 14px;
    background-position: -38px -2px;
}
a.instagram{
    width: 14px;
    height: 16px;
    background-position: -57px -3px;
}
a.facebook:hover{
    background-position: -27px -22px;
}
a.twiter:hover{
    background-position: -38px -25px;
}
a.instagram:hover{
    background-position: -57px -24px;
}
.vilage-border > li:first-child{
    position: relative;
}
.vilage-border > li:first-child a{
    padding-left: 59px;
}
.vilage-border li:first-child > a.golovna::before{
    content: "";
    position: absolute;
    display: block;
    width: 16px;
    height: 13px;
    top: 50%;
    left: 31px;
    transform: translateY(-50%);
    background: url("../images/sprites.png") no-repeat;
    background-position: -9px -2px ;
}
.nashi-poslugi{
    background-color: #d2d4d5;
    padding: 0;
}
.vilage-border li:hover > .nashi-poslugi{
    display: flex;
    max-height: 250px;
    flex-direction: column;
    flex-wrap: wrap;
    top: calc(100% + 5px);
    max-width: 421px;
    width: 100%;
}
.middle-titles{
    border: 1px #3f4852;
    color: #ffffff;
    border-radius: 3px;
    background-color: #2a3644;
}
